@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap);
body {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #fafafa;
}
body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-45deg, #00b4db, #0083b0);
    border-radius: 20px;
}
input,
button,
textarea {
    font-family: "Poppins", sans-serif;
}
textarea {
    resize: none;
}
/* Rating */
.rating {
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.rating label:before {
    content: "\2605";
    font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #ffc700;
    transition: color 0.3s;
}

.cmt-rating i {
    color: #ffc700;
}
